<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./inc/head')%>
  </head>
  <body>
    <%-include('./inc/nav')%>
    <section>
      <h1>Hakkımızda</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem
        veritatis, possimus nam laudantium inventore exercitationem.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum et
        accusamus officia nam! Dolore, hic!
      </p>
    </section>
  </body>
</html>
