<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./inc/head')%>
  </head>
  <body>
    <%-include('./inc/nav')%>
    <section>
      <form action="" method="post">
        <input
          type="text"
          name="username"
          title="username"
          placeholder="username?"
        />
        <input
          type="password"
          name="password"
          title="password"
          placeholder="password?"
        />
        <input type="submit" value="Kayit" />
      </form>
    </section>
  </body>
</html>
